{% extends 'base.html' %}
{% load static %}
{% block head %}
  	<link rel="stylesheet" href="{% static 'css/blogs123.css' %}" />
  	<link rel="stylesheet" href="{% static 'css/aboutuspg2.css' %}" />
    <title>Power Tiller | Video Blogs | {{title}}</title>
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
    <h3 class="hedding">Agriculture Blogs & Videos</h3>
    <br><br>
    <div class="container">
      <div class="gallery">
        <div class="main">
          <div class="main-img">
            <div class="item-img active" data-slide="1">
              <a href="#" rel="noopener">
                <iframe 
                  width="560" 
                  height="315" 
                  src="https://www.youtube.com/embed/l0bpy857deM" 
                  title="YouTube video player" 
                  frameborder="0" 
                  allow="accelerometer; 
                          autoplay; 
                          clipboard-write; 
                          encrypted-media; 
                          gyroscope; 
                          picture-in-picture; 
                          web-share" 
                  class="main-img-iframe"
                  controls autoplay
                  muted loading="lazy">
                </iframe>
              </a>
            </div><!--item-img active closed-->
          </div><!--main-img closed-->
        </div><!--main closed-->
        <div class="list-img">
          <div class="img-thumbnail">
            {% for i in blog %}
              <div class="video-content">
                <div class="box-text">
                    <div class="video-heading">
                      <h3>
                        <a href="{{ i.embed_url }}" onclick="openFullScreen(this)" title="Click this Blog for more information">{{ i.blog_heading }}</a>
                      </h3>
                    </div>
                    <form method="POST">
                      <div class="form-div">
                        <div>
                          {% csrf_token %}
                          {% for field in form %}
                            {{field}}
                            <hr style>
                          {% endfor %}
                          <input type="hidden" name="video_id" value="{{ i.pk }}">
                        </div>
                        <button type="Submit" value="Comment" name="comment_form">Comment</button>
                      </div>
                    </form>
                    <br>
                    <h5 class="comment-topic">All Comments</h5>
                    <div class="prev-comment">
                      {% for comment in i.comments.all %}
                      <div style="display:flex;gap:30px;margin-bottom:10px;">
                        <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden; display: none;text-align:center;">
                          <p style="font-size: 20px; background-color: goldenrod; color: green; font-weight: bolder; padding: 5px 10px;">{{ j.name|slice:"1" }}</p>
                        </div>
                        <div style="width:100%; margin: auto;">
                          <div style="display:flex; justify-content: space-between;">
                            <div style="display:flex;gap:10px;">
                              <p style="font-size:13px;color:green;">{{comment.comment}}</p>
                              <p style="font-size:13px;font-weight:bold;color:black;">by {{comment.name}}</p>
                              <p style="font-size:13px;color:gray;">{{comment.date}}</p>
                              <button class="replies" onclick="showReplies(event)" id="{{comment.id}}" name="show_replies">Show All Replies</button>
                              <div class="all-replies" style="display:none">
                                <i class="material-icons" onclick="removeIcon1()" id="close">close</i>
                                <div class="reply-box">
                                  <p class="comment-id"></p>
                                  <p>{{comment_token}}</p>
                                    <div style="display: flex; gap:50px" id="{{comment_token}}" class="reply-container">
                                      {% for reply in replies %}
                                          <p></p>
                                          <p>{{reply.name}}</p>
                                          <p>{{reply.reply}}</p><br>
                                      {% endfor %}
                                    </div>
                                </div>
                              </div>
                            </div>
                            <button class="reply-btn" onclick="commentReply(event)" id="{{comment.id}}">Reply</button>
                            <div class="hiddenReply" style="display:none">
                              <i class="material-icons" onclick="removeIcon()" id="close">close</i>
                              <form method="POST" id="reply_form">
                                {% csrf_token %}
                                {% for field in reply_form %}
                                    <label id="{{field.id_for_label}}">{{field.label}}</label>
                                    {{field}}
                                {% endfor %}
                                <input type="hidden" name="comment_id" value="" id="hidden-input">
                                <button name="reply_form">Reply</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr style="margin:5px 0">
                      {% endfor %}
                    </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <script>
      const replyForm = document.querySelector('.hiddenReply');
      const replyBox = document.querySelector('.all-replies');
      const hiddenInput = document.getElementById('hiddenInput');
      function commentReply(event){
        commentId = event.target.id;
        console.log(commentId);
        document.getElementById('hidden-input').value = commentId;
        replyForm.style.display = 'block';
      }
      function removeIcon(){
        replyForm.style.display = 'none';
      }
      function removeIcon1(){
        replyBox.style.display = 'none';
      }
      function showReplies(event){
        const getId = event.target.id;
        const replyContainers = document.querySelector('.reply-container');
        replyContainers.setAttribute('id',getId);

        /*const allReplyContainers = document.querySelectorAll('.reply-container');
        allReplyContainers.forEach(container => {
          container.style.display = 'none';
        });
        const replyContainer = document.querySelector(`#${commentId}`);
        if (replyContainer) {
          replyContainer.style.display = 'block';
        }*/
        replyBox.style.display = 'block';
      }
      function openFullScreen(element) {
        const videoUrl = element.getAttribute("href");
        const mainIframe = document.querySelector(".main-img-iframe");
        mainIframe.removeAttribute("allowfullscreen");
        mainIframe.setAttribute("src", videoUrl);
      }
	</script>
  <script async src="{% static 'js/script.js' %}"></script>
{% endblock %}
