{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/sp123.css' %}" />
  	<link rel="stylesheet" href="{% static 'css/aboutuspg2.css' %}" />
    <title>Power Tiller | Global Tech Feedback Acknowledgement </title>
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
	<br><br>
    <div class="popup-form">
        <h3 style="line-height:50px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;text-transform: capitalize;">Thank You &#128512; !!! Your Valuable Feedback has been Submitted Successfully for {{product.product_name}} Product</h3>
        <button><a href="{% url 'appagri:intech' %}">Back</a></button>
    </div>
	<br><br>
{% endblock %}