{% extends 'base.html' %}
{% load static %}
{% block head %}
  	<link rel="stylesheet" href="{% static 'css/aboutuspg2.css' %}" />
    <title>Power Tiller | Agritech Product Categories | {{title}}</title>
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
    <div>
      <div class="tproduct">
        <div class="url">
          <button onclick="goBack()" id="backbtn">Back</button>
        </div>
      </div>
      <h3 class="hedding">Agritech Product Categories</h3>
      <div class="hpmain1">
        {% for product in products %}
        <div class="hpcard1">
          <a
            href="{% url 'appagri:product_details' product.slug %}"
          rel="noopener">
            <div>
              <img src="{{ product.image.url }}" alt="{{product.image.name}}" loading="lazy"/>
            </div>
            <strong>{{ product.name }}</strong>
            <p class="spviewmore" style="margin-left: 10px">View More</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  <script async src="{% static 'js/script.js' %}"></script>
{% endblock %}
