{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="{{ parent.key }}" />
    <meta name="description" content="{{ parent.meta }}" />
    <link rel="stylesheet" href="{% static 'css/sp.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {% for i in logo %}
    <link rel="icon" type="image/x-icon" href="{{ i.image.url }}" />
    {% endfor %}
    <title>{{ sub_product.name }}</title>
  </head>
  <body>
    {% for i in parent_links %}
    <a href="{{ i.external_link }}"></a>
    {% endfor %}
    <!-- ///////////////////NAV///////////////// -->
    <nav>
      <div class="navc1">
        <a href="/">
          {% for i in logo %}
          <img src="{{ i.image.url }}" alt="" />
          <p>{{ i.name }}</p>
          {% endfor %}
        </a>
      </div>
      <div class="navc2" id="content">
        <a href="/">Home</a>
        <a href="">About us</a>
        <a href="/blogs">Blogs</a>
        <a href="/contact">Contact us</a>
      </div>
      <div id="menubtn">
        <button id="toggleBtn"><i class="material-icons">menu</i></button>
      </div>
    </nav>
    <!-- //////////////////NAV END//////////////////////// -->
    <div class="tproduct">
      <div class="productname">
        <p>Product variant</p>
      </div>
      <div class="url">
        <a href="/videos">Videos</a><span>/</span>
        <a href="/products">All products</a><span>/</span>
        <a href="/compare">All varients</a><span>/</span>
        <button onclick="goBack()" id="backbtn">Back</button>
      </div>
    </div>
    <div class="spmain">
      <div class="spimg">
        <div>
          <img src="{{ sub_product.spimage.url }}" alt="" />
        </div>
        <div class="imgdown">
          <div class="share">
            <span class="pulse">Enquire now</span>
            <div>
              <a href="tel:+919449004956"><i class="fa fa-phone"></i></a>
              <a href="https://wa.me/9449004956"
                ><i class="fa fa-whatsapp"></i
              ></a>
              <a href="mailto: way2agribusiness@gmail.com"
                ><i class="fa fa-envelope"></i
              ></a>
              <a href="sms:+919449004956"><i class="fa fa-commenting-o"></i></a>
            </div>
          </div>
          <div class="pcompare">
            <a class="pulsetwo" href="/compare">Compare</a>
          </div>
        </div>
      </div>
      <div class="spdetails">
        <h2 style="margin: 0">{{ sub_product.name }}</h2>
        <div class="prize-main">
          <p class="smallhedding prize">Fertilizer type:</p>
          <span>{{ sub_product.ftype }}</span>
          <p class="prize">Special prize</p>
          <div>
            <h1 style="margin: 0">₹{{ sub_product.price }}</h1>
            <p style="margin: 0; text-decoration: line-through;">₹{{ sub_product.discount }}</p>
            <h3 style="margin: 0">{{ sub_product.total }}%</h3>
          </div>
        </div>
        <h3 style="margin: 0">
          <i class="fa fa-star" style="color: #215d0e"></i>
          {{ sub_product.rateing }}
        </h3>
        <p class="smallhedding">Avialbility: {{ sub_product.avilability }}</p>
        <p class="spinfo">{{ sub_product.spinfo }}</p>
      </div>
    </div>
    <hr />
    <div class="spdisp">
      <h3>Description</h3>
      <p class="spinfo">{{ sub_product.description }}</p>
    </div>
    <!-- //////////////////////////FOOTER//////////////////////// -->
    <footer style="margin-left: 0px" class="footer">
      <div class="footer1">
        <div>
          <h1>Urban Agriculture</h1>
        </div>
        <div class="share-links">
          <a href="https://www.facebook.com/way2agribusiness" target="_blank"
            ><i class="fa fa-facebook-square"></i
          ></a>
          <a href="https://twitter.com/Way2agribusines" target="_blank"
            ><i class="fa fa-twitter"></i
          ></a>
          <a
            href="https://in.pinterest.com/Way2Agritech/_saved/"
            target="_blank"
            ><i class="fa fa-pinterest"></i
          ></a>
          <a
            href="https://www.youtube.com/channel/UCEpkh59M-MDOj0TH6lxRpMg"
            target="_blank"
            ><i class="fa fa-youtube"></i
          ></a>
          <a href="https://www.instagram.com/way2agribusiness/" target="_blank"
            ><i class="fa fa-instagram"></i
          ></a>
          <a
            href="https://www.linkedin.com/feed/?trk=homepage-basic_signin-form_submit"
            target="_blank"
            ><i class="fa fa-linkedin"></i
          ></a>
        </div>
      </div>
      <hr style="margin: 10px 0" />
      <div class="footer2">
        <div class="footer__addr">
          <h2 style="font-weight: 500" class="footerb">Address</h2>

          <address>
            ಕೃಷಿ ಉದ್ದಿಮೆ ಕೇಂದ್ರ/ Agribusiness Center # 636, BDA Block 2, APMC
            (RMC) Yard, Yeshwanthpura, Bengaluru - 560022<br />
          </address>
          <h2 style="font-weight: 500" class="footerb">Contact</h2>
          <ul>
            <li>
              <i class="material-icons">mail</i>
              <a href="mailto:way2agritech@way2agribusiness.com"
                >way2agritech@way2agribusiness.com</a
              >
            </li>
          </ul>
          <ul>
            <li>
              <i class="material-icons">phone</i>
              <a href="tel:+91-8277078435">+91-8277078435</a>
            </li>
            <li>
              <i class="material-icons">phone</i>
              <a href="tel:+91-8277078435">080-24484173</a>
            </li>
          </ul>
        </div>

        <div class="footer__addr">
          <h2 style="font-weight: 500" class="footerb">Loaction</h2>
          <iframe
            class="loc"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1943.6050773953866!2d77.54547795799927!3d13.022285093117015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d6fbf2aa7ad%3A0x886c14d1df2c166b!2sWay2Agritech!5e0!3m2!1sen!2sin!4v1516097691514"
            width="340"
            height="210"
            frameborder="0"
            style="border: 0; text-align: center"
            allowfullscreen=""
          ></iframe>
        </div>

        <div class="footer__addr">
          <h2 style="font-weight: 500" class="footerb">Our Online services</h2>
          <ul>
            <li style="color: white; font-size: 15px">
              Way2ABI Website:<a
                href="https://www.way2agribusiness.com/"
                class="online"
                >&nbsp;&nbsp;way2agribusiness.com</a
              ><br />
            </li>
            <li style="color: white; font-size: 15px">
              E-Commerce (Input):<a
                href="https://way2agritech.com/"
                class="online"
                >&nbsp;&nbsp;way2agritech.com</a
              ><br />
            </li>
            <li style="color: white; font-size: 15px">
              E-Commerce (Output):<a href="https://way2foods.in/" class="online"
                >&nbsp;&nbsp;way2foods.in</a
              ><br />
            </li>
            <li style="color: white; font-size: 15px">
              Social Media Web:<a
                href="https://www.karnatakaagribusiness.com/"
                class="online"
                >&nbsp;&nbsp;karnatakaagribusiness.com</a
              ><br />
            </li>
            <li style="color: white; font-size: 15px">
              Farm Machineries:<a
                href="https://www.powertiller.in/"
                class="online"
                >&nbsp;&nbsp;powertiller.in</a
              ><br />
            </li>
            <li style="color: white; font-size: 15px">
              PGP &amp; Plant Protection:<a
                href="https://www.drsoilhealth.com/"
                class="online"
                >&nbsp;&nbsp;drsoilhealth.com</a
              ><br />
            </li>
            <li style="color: white; font-size: 15px">
              Terrace Gardening:<a
                href="https://www.urbanagriculture.in/"
                class="online"
                >&nbsp;&nbsp;urbanagriculture.in</a
              ><br />
            </li>
            <li style="color: white; font-size: 15px">
              Vegetables:<a
                href="https://www.way2vegetables.com/"
                class="online"
                >&nbsp;&nbsp;way2vegetables.com</a
              ><br />
            </li>
            <li style="color: white; font-size: 15px">
              Groceries:<a href="https://www.way2groceries.in/" class="online"
                >&nbsp;&nbsp;way2groceries.in</a
              ><br />
            </li>
            <li style="color: white; font-size: 15px">
              Mob Apps:<a
                href="https://play.google.com/store/search?q=way2agribusi&amp;c=apps"
                class="online"
                >&nbsp;&nbsp;Way2agribusiness Apps</a
              ><br />
            </li>
          </ul>
        </div>
      </div>
      <hr style="margin: 10px 0" />

      <div class="legal">
        <p>
          CopyRight &copy; 2023 Way2Agribusines India Pvt Ltd. All Rights
          Reserved
          <a
            class="footerb"
            style="background-color: #ffc100; color: #215d0e"
            href="https://way2agritech.com/"
            target="_blank"
          >
            Way2Agribusiness
          </a>
        </p>
      </div>
    </footer>
    <!-- //////////////////////////END FOOTER?????????????????????????????? -->
  </body>
  <script src="{% static 'js/script.js' %}"></script>
</html>
